@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Poppins&family=Roboto:wght@700&family=Inter:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body { min-width: 375px; }

.content { background: #1c1a19; }

.header {
  display: flex;
  justify-content: space-between;
  background: #3c3a39;
  color: #fff;
}

#logo {
  text-align: center;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #fff;

  /* Icons/Icon - Menu */
  width: 24px;
  height: 24px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  gap: 12px;
  position: absolute;
  width: 375px;
  height: 590px;
  top: 92px;
}

.main-title {
  width: 327px;
  height: 124px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 114%;
  letter-spacing: 0.37px;
  color: #ff6b00;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.sub-title {
  /* Supporting Text */
  width: 327px;
  height: 27px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 133%;
  display: flex;
  align-items: center;
  color: #fff5e1;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.info {
  /* Description */
  width: 327px;
  height: 123px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #fff;

  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
}

.contact-links {
  display: flex;
  list-style-type: none;
}

#profilei {
  padding: 5px;
  background-color: transparent;
}

#profile:hover {
  background-color: #3c3a39;
}
